* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }
  
  body {
    background: #2A2E37;
    min-height: 100%;
    line-height: 3;
    font-family: 'Raleway';
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
  }
  
  
  /* NAVBAR CONTAINER */
  .navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #10aa95;
    font-family: 'Raleway';
  }
  
  /* LINKS INSIDE NAVBAR */
  .navbar a {
    float: left;
    color: white;
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 25pt;
    margin-top: 10px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
  }
  
  .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  /* ADDS A BACKGROUND COLOR TO NAVBAR LINKS ON HOVER */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #12554c;
  }
  
  /*ADD A GREY BACKGROUD COLOR TO DROPDOWN LINKS ON HOVER*/
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
/* Main Styling */

.container, .form-row{
    max-width: 100%;
    padding: 0;
    min-width: 1024px;
}

.container, .row{
    display: flex;
    justify-content: left;
}

  /* Search Bar Styling */
  
  .search-container{
    display: flex;
    justify-content: left;
    margin: 0;
    top: -45px;
    padding: 10px;
  }
  
  input#search-bar{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
   }
  
  .search-icon{
    float: right;
    position: fixed;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
  
  /* Details Card Styling */

.card .front {
	width: 320px;
	height: 320px;
    margin-top: 20%;
    font-family: "Raleway";
    line-height: 1.2;
    text-align: center;
    color: #2a2e37;
	background: linear-gradient(#10aa95, #fff);
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	overflow: hidden;
}

body {
	background: #2a2e37;
	display: flex;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto:wght@100&display=swap");

  /* footer styling */
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
  
  section{
    text-align:center;
  }
  .footer #button{
      width:35px;
      height:35px;
      border: #727172 12px solid;
      border-radius:35px;
      margin:0 auto;
      position:relative;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
  }
  .footer #button:hover{
      width:35px;
      height:35px;
      border: #3A3A3A 12px solid;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      position:relative;
  }
  .footer {
      bottom:0;
      left:0;
      position:fixed;
      width: 100%;
      height: 2em;
      overflow:hidden;
      margin:0 auto;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      z-index:999;
  }
  .footer:hover {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
      height: 10em;
  }
  .footer #container{
      margin-top:5px;
      width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
      background: #10aa95;
  }
  .footer #cont{
    position:relative;
    top:-45px;
    right:190px;
      width:150px;
      height:auto;
      margin:0 auto;
  }
  .footer_center{
      width:500px;
      float:left;
    text-align:center;
  }
  
  
  /* Recents Styling */
  .row
  {
    width:100%;
    height:auto;
    padding-top: 2%;
    display:flex;
    justify-content: center;
  }
  .row #col1
  {
    width:34%;
    text-align: center;
    height:auto;
  }
  #col2
  {
    width:34%;
    text-align: center;
    height:auto;
    
  }
  #col3
  {
    width:34%;
    text-align: center;
    height:auto;
  }