* {
  box-sizing: border-box;
}

body {
  background: rgb(48, 48, 48);
  background-image: url("./images/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

/* NAVBAR CONTAINER */
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #10aa95;
  font-family: 'Raleway';
}

/* LINKS INSIDE NAVBAR */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  margin-left: auto;
}


html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}
s
ol, ul {
  list-style: none;
}


/*Search box*/

.search-box {
  padding: 20px;
  text-align: center;
  color: #D8D8F6;
  max-width: 80vw;
  margin-top: 300px;
  margin-left: 180px;
  
}


#search {
  border-radius: 10px;
}

#search:focus {
  outline: none;
  /*needed to be removed as the outline had square corners which interferes with border radius*/
}

input {
  margin: 10px;
}

/*Buttons*/

.btn-result {
  background-color: #10AA95;
  border-color: #10AA95;
  margin: 5px auto 5px;
}


.btn-srch {
  background-color: #3f3f3f;
  border-color: #3f3f3f;
  margin: 5px auto 5px;
}

.btn-srch {
  width: 125px;
  background-color: transparent;
}

.btn-clear {
  border-color: #3f3f3f;
  background-color: transparent;
}

.results {

  color: #10AA95;
}

.btn-srch:hover,
.btn-result:hover,
.btn-clear:hover {
  background-color: #10AA95;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}


/* footer styling */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

section{
  text-align:center;
}
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: #10aa95;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Raleway';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}